:root {
  --primary: #f2779c;
  --secondary: #639653;
  --background: #f1e8db;
  --text: #832028;
}

body {
  width: 100%;
  margin: 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#popup {
  position:fixed; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  z-index:1000; 
  overflow-y:auto;
  background-color: var(--background);
  .popup-content {
    display: flex;
    flex-direction:column; 
    padding: 16px;
    gap: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      .title {
        font-family: "Faculty Glyphic", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: var(--text);
      }
      i {
        color: var(--text);
      }
    }
    .radio-material input[type="radio"]:checked + label + .radio-indicator::before {
      background-color: var(--text);
    }
  }
}

#rsvp-form {
  display: flex; 
  flex-direction: column;
  gap: 24px;
}


.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 32px 16px 0px 16px;
  .title {
    text-transform: uppercase;
    width: 100%;
    font-size: 30px;
    line-height: 62px;
    text-align: center;
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--text);
    padding: 16px;
  }
  .hastag {
    color: var(--secondary);
    font-size: 40px;
    line-height: 36px;
    font-family: "Bonheur Royale", cursive;
  }
  .confirm-container {
    padding: 40px 0;
  }
}

.section-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  gap: 32px;
  .photo {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: 100% 55%;
  }
  .countdown {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 16px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Faculty Glyphic", sans-serif;
        color: var(--text);
      }
    }
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  .date {
    display: flex;
    padding: 24px 0;
    font-family: "Bonheur Royale", cursive;
    font-size: 48px;
    color: var(--text);
  }
  .sections {
    display: flex;
    flex-direction: column;
    @media(min-width: 600px) {
      flex-direction: row;
      justify-content: center;
    }
    .info {
      width: 100%;
      @media(min-width: 600px) {
        width: 50%;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-family: "Faculty Glyphic", sans-serif;
        padding: 24px 0;
        font-size: 28px;
        color: var(--text);
      }
      .hour {
        font-family: "Faculty Glyphic", sans-serif;
        font-size: 28px;
        color: var(--text);
      }
      .location {
        font-family: "Faculty Glyphic", sans-serif;
        font-size: 18px;
        color: var(--text);
        letter-spacing: 4px;
        width: 50%;
        text-align: center;
        padding: 16px;
        width: 90%;
      }
      .icon {
        display: flex;
        justify-content: center;
        max-height: 125px;
        .image-icon {
          width: 25%;
        }
      }
      .location-button {
        padding-bottom: 60px;
      }
    }
  }
}
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding-bottom: 24px;
  @media(min-width: 640px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .title {
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--text);
    font-size: 24px;
    padding-top: 28px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  .subtitle {
    font-family: "Bonheur Royale", cursive;
    color: var(--text);
    font-size: 32px;
    padding-top: 8px;
    padding-bottom: 24px;
  }
  .text {
    padding: 8px;
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--text);
    letter-spacing: 2px;
    font-size: smaller;
    text-align: center;
  }
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  padding: 32px 16px;
  @media(min-width: 640px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .title {
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--text);
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .text {
    padding: 16px;
    text-align: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
  }
  .subtitle {
    font-family: "Bonheur Royale", cursive;
    font-size: 36px;
  }
}

.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 52px 0 0 0;
  @media(min-width: 640px) {
    padding-top: 72px;
    padding-bottom: 60px;
  }
  @media(min-width: 426px) {
    gap: 32px;
  }
  .title {
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--text);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 20px auto;
    @media(min-width: 426px) {
      height: 460px;
      margin: 0;
    }
    @media(min-width: 769px) {
      height: 600px;
      margin: 0;
    }
    @media(min-width: 1025px) {
      height: 760px;
      margin: 0;
    }
    @media(min-width: 1441px) {
      height: 1000px;
      margin: 0;
    }
    @media(min-width: 1921px) {
      height: 1300px;
      margin: 0;
    }
    @media(min-width: 2561px) {
      height: 1600px;
      margin: 0;
    }
  }

  .carousel-slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
      }
      .hotel-name {
        padding: 16px 0;
        font-family: "Faculty Glyphic", sans-serif;
        font-size: 20px;
      }
      .mat-button {
        z-index: 1;
      }
  }

  .carousel-slide.active {
      opacity: 1;
  }

  .prev-button, .next-button {
      position: absolute;
      bottom: 20px;
      transform: translateY(-50%);
      font-size: 18px;
      padding: 12px 15px;
      background: var(--text);
      color: white;
      border: none;
      cursor: pointer;
      z-index: 10;
      opacity: 0.8;
      transition: opacity 0.3s ease;
  }

  .prev-button:hover, .next-button:hover {
      opacity: 1;
  }

  .prev-button {
      left: 10px;
  }

  .next-button {
      right: 10px;
  }

  .carousel-indicators {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
  }

  .indicator {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .indicator.active {
      background-color: rgba(0, 0, 0, 0.9);
  }
}

.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
  background-color: var(--secondary);
  @media(min-width: 640px) {
    padding-top: 72px;
    padding-bottom: 60px;
  }
  .title {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  .subtitle {
    text-align: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 16px 20px;
  }
  .text {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
   .iban {
    display: flex;
    align-items: center;
    padding-top: 16px;

  }
  .copy-button {
    padding: 0 0 0 4px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    border: none;
    background-color: transparent; 
  }
   .copy-button i {
    font-size: 1.2em;
     color: inherit;
  }
  .copy-button:hover {
    opacity: 0.7; 
  }

  .copy-button:active {
    opacity: 0.9; 
  }
}

.section-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  .title {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 16px 0 40px 0;
    text-align: center;
  }
  .image-carb {
    width: 9rem;
  }
}

.section-9 {
  padding-top: 52px;
  padding-bottom: 20px;
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 5px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  .flags {
    display: flex;
    gap: 8px;
    img {
      width: 10px;
    }
  } 
}

.thankyou {
  color: red;
  padding-left: 8px;
  font-size: 20px;
}

.section-10 {
  display: flex;
  flex-direction: column;
  .photo {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: 100% 15%;
    @media(min-width: 1920px) {
      object-position: 100% 30%;
    }
  }
}

.section-11 {
  display: flex;
  flex-direction: column;
  .photo {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: 100% 50;
    @media(min-width: 1920px) {
      object-position: 100% 35%;
    }
  }
}